<footer class="bg-gray-800 mt-2">
    <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
        <div class="relative flex flex-col items-center justify-center h-32">
            <div class="flex items-center justify-center">
                <a href="https://github.com/radu2147" class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-sm font-medium">Github</a>
                <a href="https://www.facebook.com/radu.baston.7/" class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-sm font-medium">Facebook</a>
                <a href="https://www.linkedin.com/in/radu-baston-a99960185/" class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-sm font-medium">LinkedIn</a>
            </div>
            <p class="text-gray-300 px-3 py-2 rounded-md text-sm font-bold">© Radu Baston</p>
        </div>
    </div>
</footer>