<div class="flex flex-col justify-center items-center mt-12 mb-12">
    <h1 class="text-5xl font-bold text-gray-800">
        Just... Why?
    </h1>
    <p class="object-fill text-xl text-center font-medium text-gray-800 mt-14 ml-4 mr-4">
        I hate spending money on the same product that could be purchased at a smaller price from another website and everyone probably does.
        I think we all have the right to know every option and to choose the best one. So, I built this as a side project to practice my skills with new technologies.
        Feedback would be greatly appreciated. Don't use it if you don't want to!
    </p>
</div>