<div class="flex flex-col justify-center items-center mt-12 mb-12">
    <h1 class="text-5xl font-bold text-gray-800">
        Get started
    </h1>
    <p class="object-fill text-xl text-center font-medium text-gray-800 mt-14 ml-4 mr-4">
        If you ae logged in, click the button below to get to the section where you can put the link to track the product. It can only track the products for the shops with image above. Sorry if this is not your use case, I add shop support on the go. It is my final year in college, please have mercy!
    </p>
    <div class="flex justify-center items-center mt-6">
        <a href="/profile" class="hover:text-gray-300 bg-gray-700 text-white px-3 py-2 rounded-md text-base font-medium">Go to profile page</a>
    </div>
</div>