<div style="width: 80vw;" class="p-4 mt-8 rounded-lg border-2 border-gray-800 hover:bg-gray-800 hover:text-white grid grid-cols-7 justify-items-center text-center items-center">
  <a href="/profile/{{el.id}}">
    <img src="{{el.img_name}}" class="w-16 h-auto rounded-2xl">
  </a>
  <a href="/profile/{{el.id}}" class="col-span-3 text-sm md:text-base">
    {{el.name}}
  </a>
  <h4 class="text-green-600 justify-center col-span-2 text-sm md:text-base">Lowest: {{el.lowestPrice}} RON</h4>
  <button (click)="del()">
    <svg  xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path strokeLinecap="round" strokeLinejoin="round" strokeWidth={2} d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
    </svg>
  </button>
</div>